{% extends 'base.html.twig' %}

{% block title %}Nouveau Adherent{% endblock %}

{% block body %}
    <h1>Créer un Adherent</h1>

    {{ include('adherent/_form.html.twig') }}

    <a href="{{ path('adherent_index') }}">Retour a la liste</a>
{% endblock %}
