{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<div id = "contenu" >
<div id="img1">
<img src="{{ asset('build/images/imageAcc.1f5e8a6f.png') }}" style="height: 462px;
"/>
    </div>
<div id="p1" >
<p id = "pAcc"> Le Roller club de Draveil est ravi de vous accueillir sur son site web.
  <br>
 Vous trouverez donc toutes les informations nécessaires sur l’Urban Roller Club Draveil et ses activités.
<br>
Intéressé par le Roller Hockey, Les randonnées, le Freestyle,  ou tout simplement par la pratique du Roller venez nous découvrir au 55 rue Ferdinand Buisson 91210 à Draveil. </p>
</div>
</div>
{% endblock %}
